/BaseDeDatos/ProyectoORT/.metadata/
/BaseDeDatos/ProyectoORT/.sqlxeditor_project/
/BaseDeDatos/ProyectoORT/.RoutineDebugger/
/BaseDeDatos/ProyectoORT/RemoteSystemsTempFiles/
/BaseDeDatos/ProyectoORT/.project
/db2jcc-9.jar
/target/
/mobile/node_modules/