<app-navbar></app-navbar>

<h3 class="text-center">
  Libros existentes
</h3>


<ul class="list-group">
  <button class="list-group-item" *ngFor="let libro of libros" (click)="onClickMeReserva(libro)" data-toggle="modal" data-target="#exampleModalCenter">
    <div class="row" id={{libro.libros_id}}>

      <div class="col-3">

        <img class="imagenlibro" src="assets/{{libro.libros_imagen}}">

      </div>

      <div class="col-9">
        <p class="titulolibro">Titulo: {{libro.libros_titulo}}</p>
        <p class="autorlibro">Autor: {{libro.libros_autor}}</p>
        <p class="descripcionlibro">Detalle: {{libro.libros_descripcion}}</p>
      </div>
    </div>
  </button>
</ul>

