<section class="bodyVerde">

    <div class="container-fluid" id="fondo">


        <div id="logo" class="row ">
            <div class="col text-center">
                <figure><img src="../assets/logoSitioWp.png" alt="" /></figure>
                <br>
                <p>SERVICIOS AL AFILIADO</p>
                <br>
                <p class="nombre">Caja de Jubilaciones</p>
                <p class="nombre">y Pensiones Bancarias</p>
            </div>
        </div>

        <div class="row justify-content-center error" *ngIf="credencialesincorrectas">
            <div class="text-center" id="error">
                <img src="../assets/warning.png" alt="" />
                <p>Credenciales incorrectas</p>
            </div>
        </div>

        <div id="login" class="row">
            <div class="col text-center">
                
                <div>
                    <input type="text" placeholder="Usuario" [(ngModel)]="user">
                </div>

                <div>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="clave">
                </div>

                <p>¿Olvido su contraseña?</p>

                <button class="btn btn-block" id="botonIngresar" (click)="onClickMeLogin()">Ingresar</button>
            </div>
        </div>
    </div>
</section>