<app-navbar></app-navbar>
  
<h3 class="text-center">
  Prestamos existentes
</h3>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let prestamo of prestamos" (click)="onClickMePrestamo(prestamo)" data-toggle="modal" data-target="#exampleModalCenter">

    <div class="row" id={{prestamo.libros.libros_id}}>

      <div class="col-3">

        <img class="imagenlibro" src="assets/{{prestamo.libros.libros_imagen}}">

      </div>

      <div class="col-9">
        <p class="titulolibro">Titulo: {{prestamo.libros.libros_titulo}}</p>
        <p class="autorlibro">Autor: {{prestamo.libros.libros_autor}}</p>
        <p class="descripcionlibro">Detalle: {{prestamo.libros.libros_descripcion}}</p>
        <p class="descripcionlibro">Desde: {{prestamo.prestamos_fecha_desde}}</p>
      </div>
    </div>

  </li>
</ul>
