div.growlUI {
    background: rgba(0, 0, 0, 0) url("check48.png") no-repeat scroll 10px 10px;
}

div.growlUI h1, div.growlUI h2 {
    color: white;
    padding: 5px 5px 5px 75px;
    text-align: left;
}

div.growlUI h2 {
    font-size: small;
}



/********************************************************************/
.mensajeSection {
	width: 98%;
	height: 600px;
	margin: 0px auto;
	z-index: 100;
}

.divSection {
	float: left;
	width: 100%;
	height: auto;
}

#conBorde {
	width: 50%;
	margin: 10px auto;
	border: 1px solid #800000;
}

.pSection {
	text-align: center;
	margin: 40px auto;
}

.spanSection {
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	background-color: #800000;
	margin: 40px auto;
	padding-top: 10px;
}