/* 
    Created on : 24/08/2018, 09:09:36 AM
    Author     : Nico
*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* fin reset */

bodyVerde{
    display:block;
    background-color: rgba(31,104,34,100);
}

bodyBlanco{
    display:block;
    background-color: white;
}



/* logo */
#logo figure img{
    margin-top:35px;
}

#logo p{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}

#logo .nombre{
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
/***************************/

/* login */
#error{
    background-color: rgb(149,35,35,100);
    color:white;
    padding-top: 12px;
    padding-bottom:12px;
    padding-right:50px;
    padding-left:50px;
    border-radius: 5px;
    margin-top: 15px;
}


#login{
    margin-top: 60px;
}

#login p{
    font-size: 12px;
}

#login #botonIngresar{
    background-color: black;
    color:white;
    letter-spacing: 0.1em;
    margin-top: 20px;
}

/* header */
header{
    background-color: rgba(145,30,0,100);
    height: 40px;
    color: white;
}
header p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
}

