
.prioridadAlta , .prioridad0 , .prioridad1{
	color: black;
	background-color: #F78181; 
	background-image: none; 
}

.prioridadMedia { 
	color: black;
	background-color: #FAAC58;  
	background-image: none; 
}

.prioridadBaja { 
	color: black;
	background-color: #DCFFFF; 	
	background-image: none; 
}


