body{
    background-color: aquamarine;
}

.pie,.cabecera{
    height:50px;
}


.fondoRojo{
    background-color: #d39e00;
}

.fondoAmarillo{
    background-color: yellow;
}

.primera, .segunda , .tercera{
    background-color: aquamarine;
    height: 150px;
}

.borde{
    border-color: white;
    border-style: solid;
    
}