/* 
    Created on : 24/08/2018, 09:09:36 AM
    Author     : Nico
*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* fin reset */

.bodyVerde{
    background-color: rgba(31,104,34,100);
}

.bodyBlanco{
    background-color: white;
}

/* logo */
#logo{
    margin-bottom: 0px;
}

#imagen{
    width: 200px;; 
    margin: 0 auto;
}

#logo img{
    margin-top:35px;
    margin-bottom: 35px;
}

#logo p{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}

#logo .nombre{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.separado{
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

.olvido{
    font-size: 12px;
    margin-bottom: 5px;
}

/***************************/

/* login */
#error{
    background-color: rgb(149,35,35,100);
    color:white;
    border-radius: 5px;
    padding: 20px;
}

#error img{
    float: left;
    width: 15px;
    margin-right: 10px;
}

#error p{
    padding-left: 5px;
}


#login{
    margin-top: 60px;
}

#login p{
    font-size: 12px;
}

#botonIngresar{
    background-color: black !important;
    color:white;
    letter-spacing: 0.1em;
}

#formulario label , #formulario input{
    color:white !important;
}

/* header */

header{
    background-color: rgba(145,30,0,100);
    height: 40px;
    color: white;
}
header p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
}

#hamburger {
    width:40px;
    margin-left: 5px;
  }
  
.line1, .line2, .line3 {
    float: left; /*LAS FLOTO PARA QUE QUEDEN UNA ABAJO DE OTRA*/
    height:3px;
    width:20px; /*OCUPAN EL ANCHO TOTAL DEL DIV QUE LO CONTIENE*/ 
    background-color: white;
    margin: 1px 0;
    transition:all 0.5s; /*TODAS LAS TRANSICIONES SE DAN EN 0.5S*/
  }
  

/* MENU */
.menu{
    height: 400px;
    width: 50%;
    margin-top:40px;
    margin-left: 1px;
    border: 1px solid black;
    background-color: rgba(229, 229, 229, 100%);
    z-index: 100;
    position: absolute;
}

.menu a{
    color: black;
    font-size: 14px;
    padding: 3px;
    margin-left: 2px;
    text-decoration: none;
}

/* fin header */

section{
    /* Para que el primer libro aparezca completo */
    margin-top: 40px;
}  

/* MIS RESERVAS*/

.reserva{
    background: linear-gradient(90deg, #E2E2E2 30.98%, rgba(226, 226, 226, 0) 82.84%);
}

.imagenlibro{
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulolibro{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    margin-top: 10px;
}

.autorlibro{
    font-family: Roboto;
    font-size: 12px;
}

.desde{
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    margin-top: 30px;
    float: left;
    padding-right: 5px;
}

.fechadesde{
    font-family: Roboto;
    margin-top: 30px;
    font-size: 12px;
}

.tipolibro{
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: black;
}

/* footer*/

footer #boton{
    background-color:rgba(31,104,34,100);
    color:white;
    font-family: Roboto;
    font-size: 12px;
    margin-top: 20px;
}