
.busqueda input{
    width: 80%;
    height: 30px;
    background-image: url(../imagenes/lupa.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    transition: width 2s;
    padding-left: 30px;
    color: gray;
    border-radius: 25px;
    font-family: roboto;
}